body { 
    
   
}

#container {    
    width: 100%;
min-height: 100%;
height: auto !important;
position: fixed;
top:0; 
left:0;

    background-image: url('img/sunny.jpg');
    background-repeat: no-repeat;
    background-size: cover;

  }

#cat{
        height: 400px;
        background-image: url('img/large.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        bottom: 0px;
    }



/*Busqué media querie standars*/


  
  @media (min-width: 768px) and (max-width: 1024px) {
    
    #container {background-image: url('img/dawn.png');}
    #cat { height: 300px;
        background-image: url('img/medium.png');}
    
  }
   
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    #container {background-image: url('img/dawn.png');}
    #cat { height: 300px;
        background-image: url('img/medium.png');}
    
  }
  

  @media (min-width: 481px) and (max-width: 767px) {
    
   
    #container {background-image: url('img/night.jpg');
        background-size:cover;}
    #cat { height: 300px;
        background-image: url('img/small.png');}
    
  }
  
 
  
  @media (min-width: 320px) and (max-width: 480px){
    
    
    #container {background-image: url('img/night.jpg');}
    #cat { height: 200px;
        background-image: url('img/small.png');}
    
    
  }