body { 
    
    background-image: url('img/sunny.jpg');
}

#container {    
    margin: auto;
    width: 99%;
    background-color: blue;
    position: absolute;
    bottom: 0px;

  }

#cat{
        height: 400px;
        background-image: url('img/large.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        margin-bottom: 0 px;
    }



/*Busqué media querie standars*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    body {background-image: url('img/dawn.png');}
    #cat { height: 300px;
        background-image: url('img/medium.png');}
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}